.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-container{
  position: relative;
}
.drop-down-profile{
  position: absolute;
  z-index: 4;
  bottom: -90px;
  right: 33px;
  background-color: rgb(31, 186, 98);
  padding: 10px 2px;
  border-radius: 10px;
  color: white;
}
.userName{
  padding-bottom: 5px;
}
.drop-down-profile.hide{
  visibility: hidden;
}
.navB{
  margin-left: 10px;
  margin-bottom: -10px;
}
.navB:hover{
  background-color: rgb(31, 186, 98);
  border-radius: 10px;
}